body {
  background: #fcfcfc;
  margin: 0 15px;
  padding-bottom: 20px;
}

#header {
  text-align: left;
  color: #ffffff;
  padding: 15px 0 40px;
  border-bottom: 1px solid #ddd;
  margin: 0 -30px 20px;
  background-color:#301934;
  /* background taken from http://lea.verou.me/css3patterns/ */
  /*
  background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
    background-size: 25px 25px;
    */
}

.form-horizontal .control-label {
  font-family: 'Montserrat';
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
#check_recipe{
  border-color:#301934;
  background-color:#b19cd9;
}
#help{
  border-color:#301934;
  background-color:#b19cd9;
}
#add_input{
  border-color:#301934;
  background-color:#20b2aa;
  /*background-color:#008080;*/
  
}
.focus{
  background-color:#b19cd9;
}
#title {
  font-size: 4em;
  margin-bottom: 5px;
  padding-left: 20px;
}

#subsubtitle {
  font-size: 1.3em;
  padding-left: 20px;
}

#subsubtitle a {
  color: #ffffff;
  text-decoration: underline;
}

#titlePanel {
  margin: 10px 0;
  font-weight: bold;
  font-size: 50px;
}

#leftPanel {
  background: #fff;
  font-size: 18px;
}
#info{
  font-size: 16px;
}
.form-control.shiny-bound-input {
  background: #f4f4f4;
}
.selectize-input {
  font-size: 18px;
  line-height: 24px;
}

.selectize-dropdown {
  font-size: 18px;
  line-height: 24px;
}

.selectize-dropdown-content {
  max-height: 300px;
  padding: 0;
}


.selectize-dropdown-content .option {
  border-bottom: 1px dotted #ccc;
}
