body {
  background: #fcfcfc;
  margin: 0 15px;
  padding-bottom: 20px;
  font-family: 'Montserrat';
}

#header {
  text-align: left;
  color: #ffffff;
  padding: 20px 45px 30px 20px;
  border-bottom: 5px solid #20b2aa;
  margin: 0 -30px 20px;
  background-color:#381354;
  font-family: 'Montserrat';font-weight:700;
  background-image: url('large_icon.png');
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 12%;
  background-position: right;
}

#info{font-family: 'Montserrat'}

li a{color: #000000;}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
#check_recipe{
  border-color:#301934;
  background-color:#b19cd9;
}
#help{
  border-color:#301934;
  background-color:#b19cd9;
}
#add_input{
  border-color:#301934;
  background-color:#20b2aa;
  /*background-color:#008080;*/
  
}
.focus{
  background-color:#b19cd9;
}
#title {
  font-size: 4em;
  margin-bottom: 5px;
  padding-left: 20px;
}

#subsubtitle {
  font-size: 1.3em;
  padding-left: 20px;
}

#subsubtitle a {
  color: #ffffff;
  text-decoration: underline;
}

#info{
  font-size: 16px;
}
.form-control.shiny-bound-input {
  background: #f4f4f4;
}
.selectize-input {
  font-size: 18px;
  line-height: 24px;
}

.selectize-dropdown {
  font-size: 18px;
  line-height: 24px;
}

.selectize-dropdown-content {
  max-height: 300px;
  padding: 0;
}


.selectize-dropdown-content .option {
  border-bottom: 1px dotted #ccc;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}